<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
          <%- include('../partial/nav.ejs') %>
        </section>
        <h1>All smoothies</h1>
        <section class="smoothies">
          <% Smoothies.forEach(smoothie => { %>
            <article>
              <a href="/smoothies/<%= smoothie._id %>">
                <div class="single-smoothie">
                  <div class = "smoothie-img">
                    <img src="https://picsum.photos/seed/<%= smoothie._id %>/200/200" alt="Random image for smoothie thumbnail" width="200px"/>
                  </div>
                  <div class="details">
                    <div class="top-bar">
                      <h2><%= smoothie.name %></h2>
                      <h2>$<%= smoothie.price %></h2>
                    </div>
                    <p><%= smoothie.description %>...</p>
                    <% smoothie.ingredients.forEach(ingredient => { %>
                        <ul>
                          <li><%= ingredient %></li>
                        </ul>
                    <% }) %>
                    <p><%= new Date(smoothie.createdAt).toString() %></p>
                  </div>
                </div>
              </a>
            </article>
          <% }) %>
        </section>
      </main>
</body>
</html>